<section class="app-main">
  <div class="container-fluid">
    <h2>Main Component</h2>
    <p>My first project of Angular</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi, perferendis doloremque nihil cum, accusantium
      tenetur quibusdam praesentium nulla, maxime voluptates ea exercitationem eos est nam sunt numquam reprehenderit
      libero facilis. Voluptatum exercitationem dolor voluptas est! Animi magnam dolor aut magni est saepe unde,
      recusandae natus repudiandae eaque ad alias iure possimus rem? Numquam commodi blanditiis reiciendis earum
      incidunt dolorum cupiditate recusandae natus nisi dolor neque eius sit quod repellendus molestiae maxime nam porro
      deleniti ea in ipsam assumenda accusamus, necessitatibus quibusdam. Quia mollitia amet modi quos iure itaque sed
      vel ducimus?</p>
  </div>
</section>